<header>
    <nav>
        <ul>
            <li><a href="{{ path('app_bienvenue') }}">Bienvenue</a></li>
            <li><a href="/bienvenue">Bienvenue</a></li>
            <li><a href="{{ path('app_bienvenues') }}">Bienvenue tous</a></li>
            <li><a href="{{ path('app_etudiant_list') }}">Liste des étudiants</a></li>
        </ul>
    </nav>
</header>